{% extends 'layout/layout.html' %}
{% load static %}
{% block sub %}
subpage
{% endblock %}
{% block alt %}
{% endblock %}

{% block content %}

<!-- One -->
<section id="One" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>자세한 일정 및 모집공고</p>
            <h2>모집공고</h2>
        </header>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="content align-center">
                <header class="align-center">
                    <p>당신의 아이디어를 자유롭게 펼쳐보세요</p>
                    <h2>INFOMATION</h2>
                </header>
                <h4>    
                <p>** 모집대상 **
                    <br>
                    코딩에 관심이 있는 누구나
                    <br>
                    만들어보고 싶은 아이디어가 있는 누구나
                    <br>
                    창업에 관심이 있는 누구나
                    <br>
                    전공 비전공자 관계 없음<br></p>

                <p>** 지원자격 **<br>
                    경기대학교의 재,휴학생<br>
                    1년동안 꾸준히 활동이 가능한 사람 *중요*<br>
                    전공 무관<br>
                    전공자는 기초적인 웹 지식이 있으신 분(권장)<br>
                    개인 노트북이 있는 사람<br></p>

                <p>** 활동 시간 *<br>
                    5시 30분 이후 (요일은 미정)<br></p>
                <p>
                    ** 지원 일정 **<br>
                    서류 접수 : 3월 10일 화요일 ~ 3월 23일 월요일 11:59 pm<br>
                    서류 합격 발표 : 3월 25일(수)<br>
                    면접 : 3월 26일(목), 3월 27일(금) 중 택일<br>
                    최종 합격 발표 : 3월 29일(일)<br>
                </p>
                <p>
                    멋쟁이 사자처럼은 it 창업 동아리로써 기획/디자인/SW출시를 포함한 창업 수업등을 진행할 예정이며, 이 수업을 바탕으로 파이썬(Python)이라는 컴퓨터 언어를 이용하여 직접
                    웹서비스를 만들어보는 활동을 하게 됩니다.
                </p>
                </h4>
            </div>
        </div>
    </div>
</section>
{% endblock %}