{% extends 'layout/layout.html' %}
{% load static %}
{% block sub %}
subpage
{% endblock %}
{% block alt %}
{% endblock %}

{% block content %}

<!-- One -->
<section id="One" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>이메일 문의하기</p>
            <h2>E-mail</h2>
        </header>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="content align-center">
                <header class="align-center">
                    <p>관리자에게 직접 문의하기</p>
                    <h2>Write mail</h2>
                </header>
                <form method="post" action="{% url 'email_send' %}">
                    {% csrf_token %}
                    <div class="row uniform">
                        <div class="12u$">
                            <span>당신의 메일 주소</span>
                            <input type="email" name="email" id="email" value="" placeholder="Enter your Email address"
                                required />
                        </div>
                        <div class="12u$">
                            <span>제목</span>
                            <input type="text" name="title" id="text" value="" placeholder="Enter Title"
                                required />
                        </div>
                        <div class="12u$">
                            <span>내용</span>
                            <textarea name="content" id="content" placeholder="Enter your Question" rows="6" required></textarea>
                        </div>
                        <!-- Break -->
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Send" /></li>
                                <li><input type="reset" value="Reset" class="alt" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
