{% extends 'layout/layout_link.html' %}
{% load static %}

{% block nav %}
<!-- Header -->
<header id="header" class="{% block alt %}alt{% endblock %}">
    <div class="logo"><img width="20px" src="https://likelion.net/assets/favicons/favicon-841c731d4bf227cdbfe4fe4245d7750b2c18c37f61810aa6100de9174db89e4f.ico" > <a href="{% url 'home' %}">LikeLion <span>by Kyonggi</span></a></div>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'propose_before' %}">Apply</a></li>
        <li><a href="{% url 'support' %}">Information</a></li>
        <li><a href="https://open.kakao.com/o/sYcAUY0b">Question</a></li>
        <li><a href="{% url 'email_write' %}">Eamil</a></li>
        {% if request.session.manager %}
        <li><a href="{% url 'apply_check' %}">Check Apply</a></li>
        <li><a href="{% url 'user_logout' %}">Manager Logout</a></li>
        {% else %}
        <li><a href="{% url 'user_page' %}">Manager Login</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block footer %}
		<!-- Footer -->
        <footer id="footer">
            <div class="container">
                <ul class="icons">
                    <li><a href="https://www.facebook.com/likelionKGU/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="{% url 'email_write' %}" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
            </div>
            <div class="copyright">
                &copy; Untitled. All rights reserved.
            </div>
        </footer>
{% endblock %}